<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">Login</h1>
		<div class="buttons">
			<button class="button button-clear" ng-click="closeLogin()">Close</button>
		</div>
	</ion-header-bar>
	<ion-content>
		<h1 class="HomePageHeader">Muslim <br> Youth <br> Connect</h1> 
		<div class="buttons">
			<div class="row">
				<div class="col">
					<button class="button button-block button-assertive" ui-sref="login">
						login
					</button>
				</div>
				<div class="col">
					<button class="button button-block button-positive" ui-sref="signup">
						signup
					</button>
				</div>


			</div>
		</div>
	</ion-content>
</ion-modal-view>