<ion-view   hide-nav-bar="true" >
	<!-- <ion-header-bar title = "Muslim Youth" />-->
	<ion-content  class="starter-page" scroll="false">
		<img src="/img/starter-bg.jpg">
		<h1 class="HomePageHeader">Muslim <br> Youth <br> Connect</h1>
 

		<div class="buttons-starter">
			<div class="row">
				<div class="col">
					<button class="button button-block button-assertive" ui-sref="login">
						login
					</button>
				</div>
				<div class="col">
					<button class="button button-block button-positive"  ui-sref="signup">
						signup
					</button>
				</div>


			</div>
		</div>
	</ion-content>
</ion-view>