<ion-view view-title="Dashboard">
	<ion-nav-buttons side="secondary">
		<button class="button icon ion-ios-search-strong" ng-click="youthSearch()">
		</button>
	</ion-nav-buttons>
	<ion-content> 
		 
		<ion-list>
			<ion-item class="item-icon-right" ng-repeat="user in users" type="item-text-wrap" href="#/tab/userDetail/{{user.uid}}">
				 
				<h2>{{user.firstName}} {{user.lastName}}</h2> 
				<h4 style="color:#444; font-style:italic">{{user.edu}}</h4> 
				<i class="icon ion-chevron-right icon-accessory"></i>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
