<ion-view view-title="Dashboard">
	<ion-nav-buttons side="secondary">
		<button class="button icon ion-ios-search-strong" ng-click="youthSearch()">
		</button>
	</ion-nav-buttons>
	<ion-content>
		<button ng-click="auth.setUserProfile()">Set User Profile</button>
		<button ng-click="auth.getMaleUsers()">getMaleUsers</button>
		 
		<ion-list>
			<ion-item class="item-icon-right" ng-repeat="user in users" type="item-text-wrap" href="#/tab/chats/{{user.uid}}">
				 
				<h2>{{user.firstName}} {{}}</h2>
				<p>{{chat.lastText}}</p>
				<i class="icon ion-chevron-right icon-accessory"></i>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
