<ion-view view-title="Events">
	<ion-content class="padding">

		<div style="margin-top:40px;">
			<button ng-click="createEvent()" class="button button-block button-assertive">Create Event</button>
		</div>


		<ion-list>
			<ion-item class="item-icon-right" ng-repeat="(key,val) in events" type="item-text-wrap" href="#/tab/eventDetail/{{key}}">

				<div class="card" href="#/tab/eventDetail/{{events.key}}">
					<div class="item item-divider">
						{{val.name}}
					</div>
					<div class="item item-text-wrap">
						{{val.info}}
					</div> 
					<div class="item item-divider">
						Published By: {{val.createdBy.firstName}} {{val.createdBy.lastName}}
					</div>
				</div> 

			</ion-item>
		</ion-list>



	</ion-content>
</ion-view>
