<ion-view view-title="Chats">
	<ion-content class="padding">

		<div style="margin-top:40px;">
			<button ng-click="createEvent()" class="button button-block button-assertive">Create Event</button>
		</div>


		<div ng-repeat="(key,val) in events"> 
			<div class="card">
				<div class="item item-divider">
					{{val.name}}
				</div>
				<div class="item item-text-wrap">
					{{val.info}}
				</div> 
				<div class="item item-divider">
					Published By: {{val.createdBy.firstName}} {{val.createdBy.lastName}}
				</div>
			</div> 
		</div>

	</ion-content>
</ion-view>
